.hero {
    margin: 5rem 0;
    align-items: normal !important;
}

.hero h1 {
    text-align: center;
    font-size: 8rem;
    line-height: 6rem;
}

.hero>h1.primeiro {
    grid-column-end: span 12;
}

.hero>h1.segundo {
    grid-column-end: span 2;
    grid-row-end: span 2;
    font-size: 12rem;
    text-align: right;
    line-height: 8rem;
    -webkit-text-stroke: 2px white;
    /* text-stroke: 4px navy; */
    color: #1e1c1c;
}

.hero>h1.terceiro {
    grid-column-end: span 8;
    -webkit-text-stroke: 2px white;
    color: #1e1c1c;
}

.hero>h1.quarto {
    grid-column-end: span 8;
}